@model Portfolio.Models.ContactViewModel
<div class="container" style="padding-top: 55px;">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <h1 class="block-header alt">
                <span>Your Message Has Been Sent</span>
            </h1>
            <div class="col-md-12">
                <h4>Thanks for your email, @Model.FullName.</h4>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->