<!-- Showcase -->
<link href="~/JavascriptExercises/exercises.css" rel="stylesheet">
<div class="showcase">

    <div id="showcase-carousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#showcase-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#showcase-carousel" data-slide-to="1"></li>
            <li data-target="#showcase-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <!-- Item 1 -->
            <div class="item item_1 active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                            <div class="table_centered">
                                <div class="table_centered__cell">
                                    <div style="height:225px;"></div>
                                    <h1 data-animation="animateUp" class="animateUp">Capable.</h1>
                                    <h1 data-animation="animateDown" class="delay_5 animateDown">Experienced.</h1>
                                    <h1 data-animation="animateUp" class="delay_9 animateUp">Hardcore.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item 2 -->
            <div class="item item_2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                            <div class="table_centered">
                                <div class="table_centered__cell" >
                                    <h1 data-animation="animateDown">
                                        Touch Typist.
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item 3 -->
            <div class="item item_3">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table_centered">
                                <div class="table_centered__cell">
                                    <div style="height:225px;"></div>
                                    <h1 data-animation="animateDown">
                                        Performs under stress.
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- / .carousel-inner -->
        <!-- Controls -->
        <a class="carousel__control carousel__control_left" href="#showcase-carousel" role="button" data-slide="prev">
            <img src="~/Theme/Highland_v2.0.0/assets/img/arrow_left.svg" alt="...">
        </a>
        <a class="carousel__control carousel__control_right" href="#showcase-carousel" role="button" data-slide="next">
            <img src="~/Theme/Highland_v2.0.0/assets/img/arrow_right.svg" alt="...">
        </a>

    </div> <!-- / .carousel -->

</div> <!-- / .showcase -->
<!-- RECENT WORKS
    ================================================== -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h1 class="block-header" style="padding-top:-10px; padding-bottom:0px; margin-top:0px; margin-bottom:10px;">
                <span>javascript exercises</span>
            </h1>

        </div>
    </div> <!-- / .row -->
    <div class="row">
        <div class="col-sm-3">
            <a class="thumbnail" style="padding-top:0px; margin:0px;" data-toggle="modal" data-target="#e1_modal">
                <div class="caption" style="padding:0px; margin:0px;">
                    <h5 style="padding-top:5px; padding-bottom:5px; margin:0px;">Mathematical Operations</h5>
                </div>
                <img src="~/JavascriptExercises/exercise1.png" alt="...">
            </a>
        </div>
        <div class="col-sm-3">
            <a class="thumbnail" style="padding-top:0px; margin:0px;" data-toggle="modal" data-target="#e2_modal">
                <div class="caption" style="padding:0px; margin:0px;">
                    <h5 style="padding-top:5px; padding-bottom:5px; margin:0px;">Factorial</h5>
                </div>
                <img src="~/JavascriptExercises/exercise2.png" alt="...">
            </a>

        </div>
        <div class="col-sm-3">
            <a class="thumbnail" style="padding-top:0px; margin:0px;" data-toggle="modal" data-target="#e3_modal">
                <div class="caption" style="padding:0px; margin:0px;">
                    <h5 style="padding-top:5px; padding-bottom:5px; margin:0px;">FizzBuzz</h5>
                </div>
                <img src="~/JavascriptExercises/exercise3.png" alt="...">
            </a>

        </div>
        <div class="col-sm-3">
            <a class="thumbnail" style="padding-top:0px; margin:0px;" data-toggle="modal" data-target="#e4_modal">
                <div class="caption" style="padding:0px; margin:0px;">
                    <h5 style="padding-top:5px; padding-bottom:5px; margin:0px;">Palindrome</h5>
                </div>
                <img src="~/JavascriptExercises/exercise4.png" alt="...">

            </a>

        </div>
    </div>
</div> <!-- / .container -->

<!-- MODALS -->
@Html.Partial(PartialViewName.JAVASCRIPT_EXERCISE_1)
@Html.Partial(PartialViewName.JAVASCRIPT_EXERCISE_2)
@Html.Partial(PartialViewName.JAVASCRIPT_EXERCISE_3)
@Html.Partial(PartialViewName.JAVASCRIPT_EXERCISE_4)