@{
    ViewBag.Title = "Resume";
}
@*<link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-119461b8a22c3dc631a815795aa9d7f436fe38386cd99a1ca106fd2798f159aa.css" integrity="sha256-EZRhuKIsPcYxqBV5WqnX9Db+ODhs2ZocoQb9J5jxWao=" media="all" rel="stylesheet">*@
@*<link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/github-ff5ea2868307fa93418662df44c1dc27dae4827bb6af4de9dae422871280d13d.css" integrity="sha256-/16ihoMH+pNBhmLfRMHcJ9rkgnu2r03p2uQihxKA0T0=" media="all" rel="stylesheet">*@
<div class="container" style="padding-top: 75px; padding-bottom:55px;">
    <div>
        <a href="@Url.Action("DownloadResume", ControllerName.HOME)" class="col-md-12">Download PDF</a>
        <div class="row">
            <div class="col-md-12">
                <div id="readme" class="readme blob instapaper_body">
                    <article class="markdown-body entry-content" itemprop="text" style="margin:15px; padding:25px; border-style: solid; border-color:#cccccc; border-width:1px;">
                        <h1><a id="user-content-ryan-fleming" class="anchor" href="#ryan-fleming" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Ryan Fleming</h1>

                        <h2><a id="user-content-experienced-programmer" class="anchor" href="#experienced-programmer" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></a>Experienced Programmer</h2>

                        <p>
                            <strong><a href="mailto:contact@ryanfleming.io">contact@ryanfleming.io</a></strong><br>
                            <strong>214-927-5266</strong><br>
                            <strong>Dallas, TX (willing to relocate)</strong>
                        </p>

                        <hr>

                        <h3><a id="user-content-professional-profile" class="anchor" href="#professional-profile" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Professional Profile</h3>

                        <ul>
                            <li>9 years of experience</li>
                            <li>Full Stack developer</li>
                        </ul>

                        <hr>

                        <h3><a id="user-content-technical-skills" class="anchor" href="#technical-skills" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Technical Skills</h3>

                        <ul>
                            <li>C#</li>
                            <li>Javascript</li>
                            <li>AngularJS</li>
                            <li>.NET</li>
                            <li>ASP.NET MVC 5</li>
                            <li>Entity Framework 6</li>
                            <li>SQL Server</li>
                            <li>LINQ</li>
                            <li>Git, Subversion</li>
                            <li>ActionScript 3 / Adobe Flex</li>
                            <li>MongoDB</li>
                        </ul>

                        <hr>

                        <h3><a id="user-content-experience" class="anchor" href="#experience" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Experience</h3>

                        <p>
                            <strong>Coder Foundry (.NET Bootcamp)</strong> <em>Student &amp; Graduate</em> <strong>Jul 2016 to Oct 2016</strong><br>
                            <a href="https://rfleming-portfolio.azurewebsites.net">Projects portfolio</a><br>
                            <strong>Technical Environment:</strong> C#, JavaScript, ASP.NET MVC 5, SQL Server, Bootstrap, AngularJS
                        </p>

                        <p>
                            <strong>Zimusoft</strong> <em>Developer</em> <strong>2014 to 2016</strong><br>
                            Developed web apps for mobile and desktop.<br>
                            <strong>Technical Environment:</strong> C#, ASP.NET, SQL Server, JavaScript, AngularJS, HTML, CSS, MongoDB, Express, Node.js
                        </p>

                        <p>
                            <strong>52rm</strong> <em>Consultant</em> <strong>2014</strong><br>
                            Developed updates &amp; new features for a CMS I built in 2007.<br>
                            <strong>Technical Environment:</strong> C#, ActionScript 3 / Adobe Flex
                        </p>

                        <p>
                            <strong>Shoutlet</strong> <em>Developer</em> <strong>2012 to 2013</strong><br>
                            Developed a dynamic content engine (using Flex 4.6 &amp; ActionScript 3.0) which creates nearly identical  Flex/SWF versions<br>
                            of HTML &amp; HTML5 content (including HighCharts.js), for the purpose of embedding interactive content within Facebook.<br>
                            <strong>Technical Environment:</strong> ActionScript 3 / Adobe Flex, PHP
                        </p>

                        <p>
                            <strong>Cinsay</strong> <em>Developer</em> <strong>2011 to 2012</strong><br>
                            Developed an eCommerce video player.<br>
                            <strong>Technical Environment:</strong> ActionScript 3 / Adobe Flex
                        </p>

                        <p>
                            <strong>PrintPlace</strong> <em>Consultant</em> <strong>2011</strong><br>
                            Development of the Flex version of ModernGreetings.com.<br>
                            <strong>Technical Environment:</strong> ActionScript 3 / Adobe Flex
                        </p>

                        <p>
                            <strong>AMS Pictures</strong> <em>Consultant</em> <strong>2011</strong><br>
                            Developed an Adobe Captivate e-learning widget in Flex for integration with the client’s existing Adobe Captivate project.<br>
                            <strong>Technical Environment:</strong> ActionScript 3 / Adobe Flex
                        </p>

                        <p>
                            <strong>The Pursuant Group</strong> <em>Developer</em> <strong>2008 to 2011</strong><br>
                            Developed Unifyer, a social network for universities and churches.<br>
                            <strong>Technical Environment:</strong> ActionScript 3 / Adobe Flex
                        </p>

                        <p>
                            <strong>InteractiveQA</strong> <em>Consultant</em> <strong>2008</strong><br>
                            Upgraded Xomba.com to the latest version of Drupal &amp; developed custom Drupal modules.<br>
                            <strong>Technical Environment:</strong> PHP / Drupal
                        </p>

                        <p>
                            <strong>Code Hatchery</strong> <em>Developer</em> <strong>2007 to 2008</strong><br>
                            Developed a CMS for an accounting firm, as well as chain-of-custody barcode software for tracking sensitive physical documents.<br>
                            <strong>Technical Environment:</strong> ActionScript 3 / Adobe Flex
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>