<div id="e4_modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <script type="text/javascript">
        var e4_arrStr = [];
        var e4_arrStrReverse = [];
        var e4_val0 = "";
        var e4_reverse = "";

        function e4_onSubmit() {
            event.preventDefault();
            e4_val0 = $('#e4_inp0').val();
            for (var i = 0; i < e4_val0.length; i++) {
                e4_arrStr.push(e4_val0.charAt(i));
            }
            e4_arrStrReverse = e4_arrStr.reverse();

            for (var i = 0; i < e4_arrStrReverse.length; i++) {
                e4_reverse += e4_arrStrReverse[i];
            }

            (e4_val0.toUpperCase() === e4_reverse.toUpperCase()) ? $('#e4_output').text('The word "' + e4_val0 + '" is a palindrome.') : $('#e4_output').text('The word "' + e4_val0 + '" is not a palindrome.');
            e4_onReset();
        }

        function e4_onReset() {
            $('#e4_inp0').val('');
            e4_arrStr = [];
            e4_arrStrReverse = [];
            e4_val0 = "";
            e4_reverse = "";
        }
    </script>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Palindrome</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            <input id="e4_inp0" name="e4_inp0" class="col-md-12" type="text" placeholder="enter a word" required="">
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <button id="e4_btnSubmit" name="e4_btnSubmit" value="submit" class="btn btn-primary clickable" onclick="e4_onSubmit()">Submit</button>
                        </p>
                    </div>
                    <div class="col-md-5" style="height:33px; padding-top:0px; padding-bottom:0px; margin-top:0px; margin-bottom:0px;">
                        <h5 id="e4_output" style="display:inline-block;"></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-centered">
<pre class="line-numbers">
<code style="overflow: scroll;" class="language-javascript">var e4_arrStr = [];
var e4_arrStrReverse = [];
var e4_val0;
var e4_reverse = "";
function onSubmit() {
    event.preventDefault();
    e4_val0 = $('#e4_inp0').val();
    
    for (var i = 0; i < e4_val0.length; i++) {
        e4_arrStr.push(e4_val0.charAt(i));
    }
    
    e4_arrStrReverse = e4_arrStr.reverse();
    
    for (var i = 0; i < e4_arrStrReverse.length; i++)
    {
        e4_reverse += e4_arrStrReverse[i];        
    }
    
    (e4_val0.toUpperCase() === e4_reverse.toUpperCase()) ? $('#e4_output').text('The word "' + e4_val0 + '" is a palindrome.') : $('#e4_output').text('The word "' + e4_val0 + '" is not a palindrome.');
}
</code>
</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>